:root {
  --nav-links-color: var(--primary-light);
  --navbar-background: var(--primary-red);
  --nav-font: var(--default-font);
  --acive-nav-links: var(--active-cyan);
}
nav {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 2vw;
  background-color: var(--navbar-background);
  font-family: var(--nav-font);
}

.logo-container {
  width: fit-content;
  img {
    width: 6vw;
  }
}
.nav-links {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  a {
    color: var(--nav-links-color);
    font-size: 1.4vw;
    text-decoration: none;
    letter-spacing: 0.1rem;
    line-height: 100%;
    font-weight: 400;
    transition: none;
  }
  a:hover {
    color: var(--acive-nav-links);
    text-decoration: underline;
    text-underline-offset: 8px;
  }
}

.nav-cta {
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0.6vw;
  color: var(--nav-links-color);
  font-size: 1.4vw;
  text-decoration: none;
  letter-spacing: 0.1rem;
  line-height: 100%;
  font-weight: 400;
  transition: none;
  p {
    width: max-content;
  }
}

.nav-cta:hover {
  color: var(--active-cyan);
  text-decoration: underline;
  text-underline-offset: 8px;
}

.arrow-icon {
  width: 3vw;
  height: auto;
  overflow: visible;
}

.nav-cta:hover .arrow-line {
  animation: arrowPulse 1s ease-in-out infinite;
  transform-origin: center;
}
.nav-cta:hover .arrow-head {
  animation: head-move 1s ease-in-out infinite;
}

@keyframes arrowPulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.1);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes head-move {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(3.35px, 0px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@media (max-width: 1200px) {
  /* nav {
    padding: 24px 12px;
  }
  .logo-container {
    img {
      width: 60%;
    }
  }
  .nav-links {
    a {
      font-size: 24px;
    }
  }
  .nav-cta {
    font-size: 24px;
  } 
  .arrow-head {
    stroke-width: 2;
  }
  .arrow-line {
    stroke-width: 2;
  }*/
}
